.success {
  opacity: 1;
  position: relative;
  z-index: 1;
  font-size: clamp(1em, 5vw, 2em);
  font-family: Verdana, sans-serif;
  padding: 1em;

  strong {
    opacity: 1;
    font-size: clamp(2em, 10vw, 3em);
  }

  a {
    opacity: 1;
    display: inline-block;
    border: 1px solid blue;
    border-radius: 0.5em;
    padding: 0.5em 1em;
  }
}
